@import "./src/utility/ermSize";

.FooterComponent {

  .logo-image {
    margin-top: 95px;
    margin-bottom: 35px;
  }

  .footer-links {
    a {
      display: inline-block;
      padding: 0 25px;
      text-decoration: none;
      font-size: 9px;
       font-family: "Spartan", serif;
      color: rgba(11, 12, 17, 0.902);
      font-weight: bold;
      text-transform: uppercase;


    }
    img{
      width: 15px;
      height: 15px;
      object-fit: contain;
    }
  }


}