@import "./src/utility/ermSize";

.PeopleSectionComponent {

  .img_people {
    width: 50vw;
    right: calc(50vw - 100%);
    position: relative;
    @media all and (max-width: 996px) {
      width: 100%;
      right: unset;
      margin-bottom: 20px;
    }
  }
  .inside-bg{
    padding-top: 50px;
  }
  .Our_Camp {
    font-size: 9px;
    font-family: "Spartan", serif;
    color: rgba(11, 12, 17, 0.271);
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
  }
  .Silver_Strand_ {
    font-size: 32px;
    font-family: "PlayfairDisplay", serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.438;
    padding-left: 40px;

  }
  .get_t{
    padding-top: 20px;
    .myLink{
      font-size: 0.5625rem;
      font-family: "Spartan", serif;
      font-weight: bold;
      text-transform: uppercase;

      padding-bottom: 5px;
      clear: left;
      border-bottom: 2px solid #5da8ef;
      transition: border-color 250ms ease, color 250ms ease;
      color: #3f3f3f;
      text-decoration: none;
      display: inline-block;
    }
  }



}