@import "./src/utility/ermSize";

.SurfboardsItem {
  display: flex;
  width: 100%;
  padding: 150px 5px 5px 5px;
  position: relative;

  .image_container {
    position: relative;
    min-width: 65%;
    height: 320px;
    background-color: rgb(232, 232, 232);
    @media all and (max-width: 996px){
      min-width: 75%;


    }
    img {
      height: calc(100% + 110px);
      position: relative;
      bottom: 165px;
      object-fit: contain;
      width: 100%;
      transition: transform 1500ms linear 0s;
      animation-duration: 2.6s;
      animation-iteration-count: infinite;
      animation-name: boardAnim;
    }


  }

  .data_content {
    position: absolute;
    right: 20px;
    min-width: 160px;
    height: calc(100% - 155px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media all and (max-width: 996px){
      min-width: 122px;


    }

    .type {

      font-size: 12px;
      font-family: "Poppins", serif;
      color: rgb(122, 122, 122);
      text-transform: uppercase;
      line-height: 1.2;
      text-align: left;


    }

    .title {

      font-size: 26px;
      font-family: "PlayfairDisplay", serif;
      color: rgb(51, 51, 51);
      line-height: 1.077;


    }

    .price {
      font-size: 20px;
      font-family: "Poppins", serif;
      color: rgb(206, 96, 168);
      line-height: 1.2;
      display: flex;
      justify-content: center;
    }

    .buy {

        font-size: _size(9);
      font-family: "Spartan", serif;
        color: rgb(51, 51, 51);
        font-weight: bold;
        text-transform: uppercase;
      padding-left: 2px;

    }
  }

}

@keyframes boardAnim {
  0% {
    transform: translateX(0px) translateY(3px);
  }
  50% {
    transform: translateX(0px) translateY(-3px);
  }
  100% {
    transform: translateX(0px) translateY(3px);
  }
}