@import "./src/utility/ermSize";

.StepBoxStyleTwoComponent-section {
  padding-top: _size(160);
  @media all and (max-width: 996px){
    padding-top: _size(10);

  }

  .box-left {
    padding-top: 30px;

    .heading-block {
      padding-top: 30px;
      position: relative;
    }

    .number {
      position: absolute;
      left: 0;
      top: -28%;
      z-index: 0;
      font-family: 'Open Sans', sans-serif;
      color: #f9f9f9;
      font-size: 6.6em;
      line-height: 1em;
      font-weight: 700;
    }

    .sub-heading {
      position: relative;
      z-index: 1;
      margin-top: 0;
      font-family: 'PlayfairDisplay', sans-serif;
      letter-spacing: 1px;


      font-size: _size(42);

      color: rgb(51, 51, 51);
      font-weight: bold;



    }

    .small-hr {
      width: 50px;
      height: 2px;
      background-color: #5da8ef;
    }

    .text-bottom {

      font-size: _size(14);
      font-family: "Poppins", serif;
      color: rgba(97, 97, 97, 0.651);
      margin-top: 25px;

    }

    .text-link-more {
      font-size: 0.5625rem;
      font-family: "Spartan", serif;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 7.333;
      padding-bottom: 5px;
      clear: left;
      border-bottom: 2px solid #5da8ef;
      transition: border-color 250ms ease, color 250ms ease;
      color: #3f3f3f;
      text-decoration: none;
    }
  }

  .box-right {
    display: flex;
    justify-content: center;

    .small-image {
      margin: 0 auto;
      width: 100%;
    }

    .text-image-left {
      position: relative;
      width: 70%;
      @media all and (max-width: 996px){
        width: 100%;

      }

      &:before {
        content: "S u r f C a m p s";
        letter-spacing: 1em;
        position: absolute;
        left: -135px;
        transform: rotate(
                        270deg);
        top: 103px;
        font-size: 0.5625rem;
        font-family: "Spartan", serif;
        color: rgba(11, 12, 17, 0.2);
        font-weight: bold;
        text-transform: uppercase;

      }

    }
  }
}

