.headerComponent {
  padding-top: 45px;
  @media all and (max-width: 996px){
    margin-bottom: 35px;
  }
  .navbar {
    .header-nav-brand {
      .logo {
        width: 16px;
        height: 44px;
        object-fit: contain;
      }

    }

    .header-nav-menu {
      display: flex;
      margin-left: 14vw;
      .nav-link {
        font-size: 9px;
        font-family: "Spartan", serif;
        text-transform: uppercase;
        color: rgba(11, 12, 17, 0.902);
        line-height: 7.333;
        &:hover{
          color: #5da8ef;
        }
      }

    }
    .menu-button{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #90c4f5;
      width: 60px;
      img{
        width: 50%;
        height: 45px;
        object-fit: contain;
      }
    }
    .responsive-menu{
      @media all and (max-width: 996px){
        justify-content: space-between;
      }
    }
  }

}