.TopMainSliderComponent {
  padding-top: 10px;
  .indexSlider {

    font-size: 10px;
    font-family: "Spartan", serif;
    //color: rgb(93, 168, 239);
    font-weight: bold;
    line-height: 6.6;
    margin: 0 15px;
    padding-top: 7px;

    .text-blue {
      color: rgb(93, 168, 239);
    }

  }

  .arrow {
    cursor: pointer;
  }
  .slick-arrow{
    display: none !important;
  }
}