@import "./src/utility/ermSize";

.SurfboardsComponent-section {

  background-image: url("../../assets/img/bg-bord.png");
  background-attachment: fixed;

  .bg {
    padding-top: _size(65);
  }
  .AllLink{
    font-size: 0.5625rem;
    font-family: "Spartan", serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
    clear: left;
    border-bottom: 2px solid #5da8ef;
    transition: border-color 250ms ease, color 250ms ease;
    color: #3f3f3f;
    text-decoration: none;
    margin: 50px 0;
    display: inline-block;
  }

  .Shop {
    padding-top: 50px;
    font-size: _size(9);
    font-family: "Spartan", serif;
    color: rgb(93, 168, 239);
    font-weight: bold;
    text-transform: uppercase;

  }

  .Surfboards {

    font-size: _size(42);
    font-family: "Playfair", serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.571;


  }

  .slick-prev, .slick-next {
    display: none !important;
  }

  .arrow {
    position: absolute;
    top: calc(50% + 70px);
    cursor: pointer;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    @media all and (max-width: 996px) {
      display: none;
    }
  }

}