@import "./src/utility/ermSize";
.CenterTextComponent-section{

    font-size: 26px;
    font-family: "PlayfairDisplay", serif;
    color: rgba(51, 51, 51, 0.902);
    line-height: 1.462;
    text-align: center;
    .John_McCarthy {
        font-size: _size(9);
        font-family: "Spartan", serif;
        color: rgba(51, 51, 51, 0.902);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 7.333;
        text-align: center;
    }


}