html {

  @media screen and (max-width: 996px) {
    font-size: 14px;
  }

  @media screen and (max-width: 450px) {
    font-size: 16px;
  }
}

.App {
  .bg {
    background-image: url("./assets/img/content-line.png");
    background-position: calc(50% + 0px) 0;
    background-size: 100%;
    background-repeat: repeat-y;
    padding: 0 !important;
  }
  .inside-bg{
    background-image: url("./assets/img/content-line.png");
    background-position: calc(50% + 0px) 0;
    background-size: 100%;
    background-repeat: repeat-y;
  }
}