@import "./src/utility/ermSize";

.VideoSectionComponent {
  padding-top: 30px;

  .box-left {
    padding-top: 75px;
    padding-right: 10px;
    padding-left: 0;
  }

  .box-right {
    padding-right: 0;
    padding-left: 10px;
  }

  .left-image {
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .right-image {
    position: relative;
    right: 15%;
    width: 115%;
    max-width: 115%;
    box-shadow: -1px 1px 23px 0 rgb(26 45 63 / 37%);
    z-index: 2;
    display: block;

    img {
      width: 100%;
    }

    .play-button {


      border-radius: 50%;
      background-color: rgb(93, 168, 239);
      box-shadow: -2.121px -2.121px 35px 0px rgba(0, 0, 0, 0.13);
      position: absolute;
      left: calc(50% - calc(4.25rem / 2));
      top: calc(50% - calc(4.25rem / 2));
      width: _size(68);
      height:_size(68);
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        margin-bottom: 4px;
        margin-left: 4px;
      }

    }


  }

  .bottom-text {
    padding-right: 15%;
    margin-top: -80px;
    .description{

        font-size: _size(14);
      font-family: "Poppins", serif;
        color: rgba(97, 97, 97, 0.651);
        line-height: 1.714;




    }
    .text-link{
        font-size: _size(9);
      font-family: "Spartan", serif;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 7.333;


      padding-bottom: 5px;
      clear: left;
      border-bottom: 2px solid #5da8ef;
      -webkit-transition: border-color 250ms ease,color 250ms ease;
      transition: border-color 250ms ease,color 250ms ease;
      color: #3f3f3f;
      text-decoration: none;
    }
    @media all and (max-width: 996px) {
      margin-top: 15px;
    }
  }

}