@import "./src/utility/ermSize";

.ContactComponent-section {

  font-size: 26px;
  font-family: "PlayfairDisplay", serif;
  color: rgba(51, 51, 51, 0.902);
  line-height: 1.462;
  text-align: center;
  background-image: url("../../assets/img/bg-contact.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .title {

    font-size: 42px;
    font-family: "PlayfairDisplay", serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.571;


  }

  .description {

    font-size: _size(14);
    font-family: "Poppins", serif;
    color: rgba(97, 97, 97, 0.651);


  }

  .contact-form {
    display: flex;
    width: 100%;
    justify-content: center;

    input[type="text"] {
      background-color: #f5f5f5;
      height: 50px;
      flex: 1;
      border: unset;

      &::placeholder {

        font-size: _size(9);
        font-family: "Spartan", serif;
        color: rgba(51, 51, 51, 0.902);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 7.333;
        padding-left: 10px;


      }
    }

    button {
      background-color: #5da8ef;
      height: 50px;
      border: unset;
      overflow: hidden;

    }

  }

}