@import "./src/utility/ermSize";

.topMainSliderItem {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
  position: relative;

  .top-slider-image {
    width: calc(100% - calc(14vw + 32px));
    box-shadow: -26px 15px 21px 0px rgb(0 0 0 / 26%);
    margin-right: 10px;
    @media all and (min-width: 996px){
      min-height: 583px;
    }
  }

  .content-data {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .textTop {

      font-size: _size(9);
      font-family: Spartan, serif;
      color: rgba(93, 168, 239, 0.902);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 7.333;

    }

    .text-title {
      font-size: _size(62);
      font-family: Spartan, serif;
      color: rgb(11, 12, 17);
      font-weight: bold;
      line-height: 1.032;
      padding: _size(30) 0;
      @media all and (max-width: 996px){
        font-size: _size(32);
        padding: _size(10) 0;
        padding-top: 0;

      }
    }

    .text-description {
      display: flex;
      font-size: _size(14);
      font-family: "Poppins", serif;
      color: rgb(143, 143, 143);
      line-height: 1.714;
      text-align: left;
      font-weight: 200;
    }
  }
}