@import "./src/utility/ermSize";

.side-bar {

  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 97px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  @media all and (max-width: 996px) {
    width: 56px;
    display: none;
  }

  .side-bar__text {


    transform: rotate(
                    -90deg);
    font-family: Oswald, sans-serif;
    color: #d4d4d4;
    font-size: 12px;
    letter-spacing: 5px;
    white-space: nowrap;
    padding-right: 235px;
  }

  .social-block {

    padding: 10px;
    text-align: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .social-icon {
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      margin: 25px auto;
      clear: left;

      img {
        height: 20px;
        width: 100%;
        object-fit: contain;
      }
    }
  }


}